* {
    box-sizing: border-box;
}
  
html, body {
    display: block;
    padding: 0;
    margin: 0;
    background-color: black;
}
  
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
  
.banner {
    width: 100vw;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-size: 1.6em;
}

.content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.acknowledgement {
    margin-top: 2em;
    padding: 0.5em;
    font-size: 0.85em;
    text-align: center;
    color: white;
}

.acknowledgement a {
    color: inherit;
    text-decoration: underline;
}

#badref, #badref:focus {
    width: 40vw;
    height: 36vh;
    margin: 5px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

#goodref, #goodref:focus {
    width: 40vw;
    height: 36vh;
    margin: 5px;
    padding: 5px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

#errorlog, #errorlog:focus {
    width: 50vw;
    height: 30vh;
    margin: 5px;
    padding: 5px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

#fix {
    padding: 10px;
    border: 1px solid darkslategrey;
    background-color: lightgrey;
    color: black;
    border-radius: 5px;
}

#fix:hover {
    box-shadow: 2px 3px 4px 0 rgba(100,100,100,0.6);
}

#fix:active {
    background-color: darkgrey;

}


